@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --white: #FFFFFF;
    --dark: #222222;
    --accent: #40376E;
    --current-day: #FFFFFF;
    --border-color: #DCDCDC;
    --not-current-color: #BDBDBD;
    --not-current-bg: #F3F3F3;
    --modal-bg: rgba(34, 34, 34, 0.25);
    --font-family: "Inter";
    --line-height: 28px;
    --letter-spacing: 0.15px;
    --font-size: 17px;
    --small-font-size: 14px;
    --h1-font-size: 34px;
    --h2-font-size: 26px;
    --h3-font-size: 17px;
    --border-radius: 7px;
}

* {
    cursor: default;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    background-color: var(--white);
    color: var(--dark);
    display: flex;
    flex-direction: row;
    user-select: none;
}

body.darkmode {
    --white: #111111;
    --dark: #DDDDDD;
    --accent: #5F52A3;
    --current-day: #DDDDDD;
    --border-color: #333333;
    --not-current-color: #777777;
    --not-current-bg: #222222;
    --modal-bg: rgba(255, 255, 255, 0.1);
}

div#dragregion {
    -webkit-app-region: drag;
    position: fixed;
    left: 0px;
    display: block;
    width: 100vw;
    height: 20px;
}

h1,
h2,
h3 {
    line-height: normal;
    padding: 0px;
    margin: 0px;
}

.today {
    background-color: var(--accent);
    color: var(--current-day) !important;
}

.notcurrent {
    color: var(--not-current-color) !important;
    background-color: var(--not-current-bg);
}

.scnotcurrent {
    color: var(--not-current-color) !important;
}

.icon {
    width: 16px;
    height: 16px;
    margin: auto;
}

.icon.arrow {
    width: 10px !important;
}

.icon.close {
    margin: unset;
}

svg,
svg path {
    fill: var(--dark);
    cursor: pointer;
}

#jumpbtn,
#jumpaction,
#settingsbtn,
#settingaction,
#todaybtn,
#nextbtn,
#prevbtn,
#closebtn {
    min-width: 38px;
    height: 38px;
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#jumpaction {
    width: 100%;
}

#todaybtn,
#filler {
    flex: 1;
}

section#sidebar {
    width: 280px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100vh;
}

section#sidebar h3 {
    margin-bottom: 10px;
}

div#controls {
    column-gap: 5px;
}

div#sidebarbtns {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-direction: column;
}

div#smallcalendar {
    display: grid;
    grid-template-columns: repeat(7, calc(234px / 7));
    grid-template-rows: repeat(7, calc(234px / 7));
    column-gap: 1px;
    row-gap: 1px;
}

div#smallcalendar div.scday {
    border-radius: var(--border-radius);
    width: calc(234px / 7);
    height: calc(234px / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

div#smallcalendar div.scday.header {
    border-radius: var(--border-radius);
    background-color: var(--not-current-bg);
    color: var(--not-current-color);
    font-weight: 600;
}

section#content {
    width: calc(100vw - 280px);
}

section#topbar {
    padding: 20px;
    box-sizing: border-box;
    border-left: solid 1px var(--border-color);
    justify-content: space-between;
}

section#topbar div {
    column-gap: 5px;
    margin-right: 117px;
}

section#topbar,
section#topbar div,
section#weekdays,
div#controls {
    display: flex;
    align-items: center;
    justify-self: center;
}

section#topbar h1 {
    font-size: var(--h1-font-size);
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

section#topbar h1,
section#topbar h1 span,
section#topbar h1 b {
    line-height: 38px;
    height: 38px;
    box-sizing: border-box;
}

section#weekdays {
    border-left: solid 1px var(--border-color);
    border-top: solid 1px var(--border-color);
}

section#weekdays div {
    height: 28px;
    width: calc(100% / 7);
    text-align: center;
    font-weight: 600;
}

table {
    width: 100%;
    height: calc(100% - 107px);
    border-collapse: collapse;
}

table tr:first-child {
    border-left: solid 1px var(--border-color);
}

td {
    vertical-align: top;
    width: calc(100% / 7);
    height: calc((100% - 28px) / 7);
    border: solid 1px var(--border-color);
    position: relative;
}

div.daylabel {
    float: right;
    width: fit-content;
    border-radius: var(--border-radius);
    text-align: center;
    margin: 5px;
    padding: 3px 8px;
    box-sizing: border-box;
}

div.dayevent {
    font-size: var(--small-font-size);
    line-height: 20px;
    width: calc(100% - 38px);
    position: absolute;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
}

div#modalbackground {
    display: none;
    align-items: center;
    justify-self: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg);
}

div#modalcontainer {
    background-color: var(--white);
    border-radius: var(--border-radius);
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px auto 30px auto;
}

div#modalheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#modalheader h2 {
    width: fit-content;
}

div#modalcontent {
    margin: 20px 0px 0px 0px;
}

#dateselectiongrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.modalinput,
.dropdown {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    border: solid 1px var(--border-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    background-color: var(--white);
    color: var(--dark);
    padding: 5px 10px;
    box-sizing: border-box;
}

.modalinput,
.dropdown {
    width: calc((100% - 5px) / 2);
}

.errorprompt {
    text-align: center;
    color: var(--not-current-color);
}

.settingsrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsrow:not(:first-child) {
    margin: 5px 0px;
}